
h2{        color: red;
          }
          p {color: wheat;}
        .one {color: darkgray;}  
        #two {color: bisque; size: 60px;}
        .t {background-color: black;
        color: aliceblue;
    padding-top: 200px;
margin-top: 10px;
padding-left: 200px;
padding-right: 200px;
padding-bottom: 200px;
border-color: burlywood;
border-width: 50px;
border-style: double;
padding: 50px;}